
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/main-styles.css">
       
    </head>

    <body>
            <p class="error">{{error}}</p>        
            <a href="/">Make another search</a>
    </body>