

    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/main-styles.css">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6696213776080094"
     crossorigin="anonymous"></script>
    </head>

    <body>
            <p class="not-found">We're sorry, but no results were found for {{searchVenueTerm}}.</p>     
            <a href="/">Make another search</a>
    </body>
